/* Nav Styles  */

.nav {
  padding: 2rem 0;
}

.nav__icon,
.nav__close,
.bg-overlay {
  display: none;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-list .nav-link {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  color: var(--black-2);
  padding: .5rem;
}

.nav-list li:hover .nav-link {
  color: var(--green-1);
}

.nav-list li {
  display: inline-block;
  margin-inline: 1rem;
}

@media only screen and (max-width: 48em) {
  .nav {
    position: relative;
  }

  .nav__icon {
    display: block;
  }

  .nav__icon svg,
  .nav__close svg {
    pointer-events: none;
    height: 3rem;
    width: 3rem;
  }

  .nav__close {
    display: block;
    position: absolute;
    color: var(--black);
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }

  .nav-list {
    z-index: 999;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: var(--lightGreen-1);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 2rem; */
    transform: translateX(0);
    overflow: hidden;
    transition: .3s ease-in transform;
  }
  
  .nav-list.show {
    transform: translateX(-100%);
  }

  .nav-list li {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }

  .nav-list a {
    font-size: 1.6rem;
  }

  .bg-overlay {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(18, 24, 14, .8);
    width: 100%;
    height: 100vh;
    z-index: 999;
  }

  .bg-overlay.active {
    display: block;
  }
}

/* Global Button Styles  */

.btn {
  color:var(--green-1);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: .8rem;
  padding: 1.2rem 2rem;
}

.primary-btn {
  color: var(--white-1);
  background-color: var(--green-1);
  border: 2px solid var(--green-1);
  transition: all .3s;
}

.primary-btn:hover,
.primary-btn:active {
  color: var(--green-1);
  background-color: var(--white);
  border: 2px solid var(--green-1);
}

@media only screen and (min-width: 48em) {
  .btn {
    padding: .8rem 2rem;
    font-size: 2rem;
  }
}

/* Footer  */

footer {
  background-color: var(--lightGreen-1);
  padding-block: 5rem 2rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo {
  width: 9rem;
  margin-bottom: 2rem;
}

.footer-desc {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 2rem;
}

.footer-social_title {
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: 1rem;
}

.footer-social li {
  display: inline-block;
  margin-right: 1.5rem;
}

.footer-social a:link,
.footer-social a:visited {
  padding: .5rem .8rem;
  background-color: var(--white-1);
  border: 1px solid var(--black-2);
  border-radius: 8px;
}

.footer-social svg {
  width: 2rem;
  color: var(--black-2);
}

.footer-text_title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--black-1);
  font-weight: 600;
}

.footer-text a:link,
.footer-text a:visited {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  color: var(--black-2);
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 1.4em;
}

@media only screen and (min-width: 48em) {
  footer {
    padding-block: 8rem 4rem;
  }

  .footer-wrapper {
    flex-direction: row;
  }

  .footer-col1 {
    flex: 4;
  }

  .footer-col2,
  .footer-col3,
  .footer-col4 {
    flex: 2;
  }

  .footer-desc {
    max-width: 25rem;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }

  .footer-social_title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .footer-text_title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .footer-text a:link,
  .footer-text a:visited {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

#copyright {
  padding-block: 1rem;
}

.copyright-text {
  text-align: center;
  font-size: 1.4rem;
  color: var(--black-3);
}

@media only screen and (min-width: 48em) {
  .copyright-text {
    font-size: 1.6rem;
  }
}

/* Store Info Styles */

.store-info_wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}

.store-info_item {
  background-color: var(--lightGreen-1);
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 12px;
  width: 15rem;
}

.store-info_icon {
  width: 3.2rem;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.store-info_title {
  font-size: 1.4rem;
  font-family: 'Poppins';
  font-weight: 500;
  margin-bottom: .5rem;
  color: var(--black-1);
}

.store-info_text {
  font-size: 1.4rem;
  font-family: 'Raleway';
  color: var(--black-2);
}

@media only screen and (min-width: 48em) {
  .store-info_wrapper {
    gap: 2rem;
  }

  .store-info_item {
    min-width: 20rem;
    padding-block: 4rem;
  }

  .store-info_icon {
    width: 4.7rem;
    margin-bottom: 2.5rem;
  }

  .store-info_title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .store-info_text {
    font-size: 1.6rem;
  }
}

/* Dish Grid */

.dish-grid_title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--black-1);
}

.dish-grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

.dish-grid_item {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGreen-1);
  padding: 1rem;
  gap: .5rem;
  border-radius: 8px;
}

.dish-grid_item_img {
  flex: 4;
}

.dish-grid_item_img img {
  object-fit: cover;
  border-radius: 8px;
}

.dish-grid_item_info {
  flex: 5;
}

.dish-grid_item_title {
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 500;
  color: var(--black-1);
  margin-bottom: .5rem;
}

.dish-grid_item_price {
  font-size: 1.4rem;
  color: var(--green-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.dish-grid_item_stars {
  max-height: 1.5rem;
  width: max-content;
  margin-bottom: .5rem;
}

@media only screen and (min-width: 48em) {

  .dish-grid_title {
    font-size: 2.4rem;
  }

  .dish-grid_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
  }

  .dish-grid_item {
    flex-direction: row;
    padding: 1.5rem;
    gap: 1rem;
  }

  .dish-grid_item_title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .dish-grid_item_price {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .dish-grid_item_stars {
    margin-bottom: 0;
  }
}